*{
	font-family: 'Poppins', sans-serif;
	margin: 0;	/*margem para fora*/
	padding: 0; /*borda para dentro*/
}
html{ /* comportamento de rolar site*/
	scroll-behavior: smooth;
	/*smooth: suave*/
}
body{
	background-color: rgb(180, 102, 102); /*pode ser preto, na aula foi preto*/
	color: #fff;
}
a{ /* o "a" é o link, entao mudou a cor do link*/
	color: white;
	text-decoration: none; /*retira o subilinhado*/
}
h1{
	font-size: 36;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
	/*se precisar de mais espaco entre o cabeçalho e o texto h1 */
	/*margin bottom deixa arredondado*/
}
header{ 
	/*cabeçalho*/
	padding: 20px 0;
	background-color: #000000;
	position: fixed; /* fixar o cabeçalho*/
	z-index: 3; /* camada do site, colocar sempre por precaução*/
	top: 0; /*topo do cabeçalho*/
	width: 100%;/*largura*/
	height: 20px;/*atura*/

}
footer{
	padding: 20px 0;
}
section{
	margin: 60px 0;
}
h2{
	font-size:24px;
	padding: 20px 0;
}
input, textarea{
	width: 100%;
	padding: 10px; 
	/*afastamento da borda para dentro*/
    margin: 5px 0;
    border-radius: 12px;
}
:target{
	/*scroll: rolagem na margem do topo*/
	scroll-margin-top:120px;
}
/* classes e objetos representa por .*/

.header-logo{
	width: 2rem;/* largura, rem medida de responsividade, o rem é 1/2*px*/
	height: 2rem;/*altura*/
	margin-top: -10px; /*margem top: margem do topo*/
}
.container{
	/*background-color: #FA8072;*/	
	max-width: 1170px; /* vai no maximo da pagina, max width */
	/* margem 0 auto centraliza a div*/
	margin: 0 auto 0 auto;

}
.box-flex{
/* */
	display: flex;
	justify-content: space-between;
}
.flex-center{

	display: flex; /* flex, visualizacao flexivel*/
}
.header-navbar ul li{
	/*pega tudo que estiver dentro do li e do ul*/

	margin: 0 10px;

	list-style: none;

	text-transform: uppercase; /*upper caixa alta*/
}

.imagemarca {
    width: 25%;
    border-radius: 100%;
    margin-top: -16px;
}

.header-navbar ul li a:hover{/* sobrepor o link, muda a cor do nome*/
	color:#4B0082;
}
.header-social-media ul li{
	margin: 0 10px;
	list-style: none;
}
.header-social-media ul li a:hover{
	color:blue;
	/* pode ser o nome da cor ou o codigo hexadecinmal*/
}
#image-about{/* objeto é #*/
    width: 40%;
}
#image-about img{
	width: 100%;
	margin-top: 40px; 
	/* desceu a imagem do topo do cabeçalho*/
}
#about{
	width: 55%;
}
/*gallery*/
.gallery-wrap{ /* quebra de imagem*/
	flex-wrap: wrap;
}
.gallery-card{
	width: 30%;
	height: 500px;
	border: solid 2px DarkSlateBlue;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin-bottom: 20px;/*margem na base*/
    border-radius: 20px;
}
.gallery-img{
	background-size: 100%;
	background-position: center;
	background-color:#00BFFF;
	background-blend-mode: multiply;
	transition: .6s	
}
.gallery-img:hover{
	background-size: 120%;
	background-color: white;
}

.dados-contato {
    width:45%;
}

#forms{
    width: 45%;
}

.btn-submit{
	width: 250px;
	background-color: #000000;
    color: white;
    border-radius: 12px;
}
.btn-submit:hover{
	background-color: #191970;
}
.forms-group{
    padding: 5px 0;
}

#card-1 {
    background-image: url(../images/image-01.jpg);
    background-repeat: no-repeat;
}

#card-2 {
    background-image: url(../images/image-02.jpg);
}
#card-3 {
    background-image: url(../images/image-03.jpg);
}

#card-4 {
    background-image: url(../images/image-04.jpg);
}

#card-5 {
    background-image: url(../images/image-05.jpg);
}

#card-6 {
    background-image: url(../images/image-06.jpg);
}

@media screen and (max-width: 980px){
	body{
		background-color: olive;
	}
}
@media screen and (max-width: 600px){
	body{
		background-color: pink;
	}
}
